#
# Ref: https://dev.mysql.com/doc/refman/5.7/en/mysql-cluster-config-starting.html
#

# MANAGEMENT NODES

[ndb_mgmd default]
DataDir=/var/lib/mysql

[ndb_mgmd]
#NodeId=management1
HostName=192.168.0.2

[ndb_mgmd]
#NodeId=management2
HostName=192.168.0.3

# DATA NODES

[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M
DataDir=/var/lib/mysql

[ndbd]
#NodeId=ndb1
HostName=192.168.0.10

[ndbd]
#NodeId=ndb2
HostName=192.168.0.11

# SQL NODE / API NODE

[mysqld]
#NodeId=mysql1
hostname=192.168.0.20

[mysqld]
#NodeId=mysql2
hostname=192.168.0.21
