# my.cnf: Specifies options for all NDB Cluster executables.

# enable ndbcluster storage engine
[mysqld]
ndbcluster
ndb-connectstring=management1
user=mysql

# cluster-specific settings
[mysql_cluster]
ndb-connectstring=management1
