[Unit]
Description=MySQL NDB API Server
After=network.target syslog.target

[Service]
User=mysql
Group=mysql

Type=forking

ExecStart=/usr/sbin/mysqld $MYSQLD_OPTS

ExecReload=/bin/kill -HUP $MAINPID

KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
