#
# Ref: https://dev.mysql.com/doc/refman/5.7/en/mysql-cluster-config-starting.html
#

# MANAGEMENT NODES

[ndb_mgmd default]
DataDir=/var/lib/mysql

[ndb_mgmd]
NodeId=1
hostname=192.168.0.2

# DATA NODES

[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M
DataDir=/var/lib/mysql

[ndbd]
NodeId=10
hostname=192.168.0.10

[ndbd]
NodeId=11
hostname=192.168.0.11

# SQL NODE / API NODE

[mysqld]
NodeId=20
hostname=192.168.0.20
